.inputContainer {
  margin-top: 1rem;
  justify-content: center;
  display: flex;
}

.textInput {
  font-size: x-large;
  border: 1px solid lightslategrey;
  border-radius: 0.3rem;
}

.button {
  border: 1px solid darkseagreen;
  border-radius: 0.3rem;
  background-color: mintcream;
  color: darkslategrey;
  font-size: medium;
  padding: 0.5rem 0.8rem;
}

.button:hover {
  box-shadow: 1px 1px 2px slategrey;
}
